@model gimmepizza.Models.pizzaModel 

<style>

    @*START body SECTION*@

    body {
        background: url(/pizzabackground.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
    }

    .content, .text-center {
        background: rgba(0, 0, 0, 0.6);
        padding: 1em;
    }

    @*END body SECTION*@

</style>

<div class="text-center">

    <h1>gimmepizza.</h1>
</div>

<br />

<div class="content">
    <div class="intro">
        <p>Did you know...</p>
        <p>One 18" pizza is actually bigger than two 12" pizzas!</p>
        <p>How much pizza are you really getting?</p>
        <br />
    </div>

    <div class="calculator">
        <h3>Calculator:</h3>
        <form asp-action="Index">
            <label>Pizza Size in Inches:</label>
            <p><input type="number" asp-for="Size" placeholder="e.g. 18"/></p>
            <label>Number of Pizzas:</label>
            <p><input type="number" asp-for="Quantity" placeholder="e.g. 2"/></p>
            @*<label>Price of Pizzas:</label>
                <p><input type="number" asp-for="Price" /></p>
                <br />*@

            <p><input type="submit" value="Calculate" asp-for="Calculate" /></p>
            <div>
                <div>
                    <label>Total Square Inches of Pizza:</label>
                    <p><input type="number" asp-for="@ViewData["result"]" /></p>
                </div>
                @*<div>
                        <label>Price per Square Inch:</label>
                        <p><input type="number" asp-for="@ViewData["cost"]" /></p>
                    </div>*@
            </div>
        </form>
    </div>

    <div>

    </div>
</div>



